@media only screen and (max-width: 600px) {
    .buttonWidth {
        display: flex;
        width: 100%;
    }
    }
    .backtoHomeButton{
        width: 180px;
    }
    .backtoDashButton{
        width: 120px;
    }